<!DOCTYPE html>
<html lang="en">
{{> baseHead}}
<body>
    <section class="mt-4">
        <h2 class="text-4xl"> Your post has posted :></h2>
        <a href="/" class="underline"> Return to Homepage</a>
     </section>
</body>
</html>